body {
  font-family: "Raleway", sans-serif;
  background-image: url(../img/fondo-blanco.jpg);
  background-size: auto;
}



.carousel-inner img {
  width: 100%;
  max-height: 1000px;

}
.carousel-inner{
  height: 500px;
 }

 /* Hero Section */
#Hero-Section {
  background-image: url("../img/fondo1.png");
  background-repeat: no-repeat;
  background-size: 40em;
  background-position: left;
  text-align: right;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
